.accommodationContainer {
    border: 1px solid green;
    width: 90%;
    & h2 {
        border: 1px solid green;
    }
}

.location {
    border: 1px solid green;
}

.accommodation__collapse__container {
    // border: 1px solid green;
    display: flex;
}
