.accommodationContainer {
    width: 90%;
    & h2 {
        @media screen and (max-width: 800px) {
            font-size: $smallFont;
        }
    }
}

.location {
    @media screen and (max-width: 800px) {
        font-size: $extraSmallFont;
    }
}

.accommodation__collapse__container {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 800px) {
        display: flex;
        flex-direction: column;
    }
}

.logement__host__infos {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 800px) {
        flex-direction: column;
        justify-content: space-between;
    }
}
