.err404Container {
    // border: 1px solid green;
    text-align: center;

    &--404 {
        font-size: 130px;
        font-weight: 700;
        line-height: 137px;
        letter-spacing: 0em;
        @media screen and (max-width: 800px) {
            font-size: 100px;
        }
    }

    &--txt {
        font-size: $mediumFont;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 0em;
        @media screen and (max-width: 800px) {
            font-size: $smallFont;
        }
    }

    &--link {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0em;
    }

    & a {
        color: $textColor;
    }
}
