.carousel__container {
    height: 425px;
    position: relative;
}

.pageNumber {
    position: absolute;
    bottom: 24px;
    left: 50%;
    font-size: 18px;
    color: white;
    z-index: 1;
    @media screen and (max-width: 800px) {
        display: none;
    }
}
