.collapseContainer {
    width: 45%;
    @media screen and (max-width: 800px) {
        width: 100%;
    }
}

.collapse {
    border-radius: 10px;
    margin: 10px 0;
    cursor: pointer;

    &__closed {
        display: none;
    }

    &--description {
        background: $textColor;
        color: white;
        border-radius: 5px;
        padding: 0px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &--texte p {
        line-height: 23px;
        margin: 0;
        padding: 30px;
        border-radius: 5px;
        background: $collapseBackground;
    }

    & h2 {
        margin: 10px 0;
    }

    &--button {
        background: none;
        border: none;
        cursor: pointer;
    }
}

.rotate-center {
    -webkit-animation: rotate-center 0.25s ease-in-out both;
    animation: rotate-center 0.25s ease-in-out both;
}

.rotate-reverse {
    -webkit-animation: rotate-reverse 0.25s ease-in-out both;
    animation: rotate-reverse 0.25s ease-in-out both;
}

@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

@-webkit-keyframes rotate-reverse {
    0% {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
}
@keyframes rotate-reverse {
    0% {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
}
